.navLinks {
  color: black;
}
.navLinks:hover {
  /* transition: all ease-in-out 1s; */
  text-decoration: none;
  transition: ease 1s;
  color: black;
  /* padding: 2px; */
  border-bottom: 1px solid #5eaf50;
}
/* logo with my Initials hover effects */
.logo {
  border: 5px solid black !important;
  padding: 10px;
}
.logo:hover {
  animation: animation1 2s linear infinite;
}

@keyframes animation1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* hover effect finishes */
